SUPABASE_URL=
SUPABASE_ANON_KEY=
MERCADO_PAGO_ACCESS_TOKEN=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
UMEC_ADMIN_EMAIL=
ADMIN_USER=
ADMIN_PASSWORD=
WHATSAPP_UMEC=5583998465279
VALOR_UNITARIO=12.00
ESTOQUE_TOTAL=
EVENTO_NOME=Refeição UMEC
EVENTO_DATA=
EVENTO_LOCAL=UMEC Tancredo Neves
EVENTO_HORARIO=
MERCADO_PAGO_WEBHOOK_URL=
